<!-- about section 
	================================================== -->
<section class="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="default-article">
				<br><br><br><br>
					<h1>About Stark Industries</h1>
					
					<p>视频可以选择高清，超清则需要访问视频主页。弹幕可关闭</p>
					<a href="/contact">Contact Jarvis</a>
				</div>
			</div>
			<div class="col-md-5">
				<!-- Vimeo  -->
				<embed height="648" width="850" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="//static.hdslb.com/miniloader.swf" flashvars="aid=4707490&page=1" pluginspage="//www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
				

				
				<!-- End Vimeo -->
			</div>
		</div>
	</div>
</section>
<!-- End about section -->
