
<!-- testimonial-section 
================================================== -->

<section class="testimonial-section2">
	<div class="container">

		<div class="testimonial-box">
			
				<h1 style="color: white">This is Jarvis, what can I help you</h1>
			
		</div>

	</div>
</section>
<!-- End testimonial section 
注意，这里把testimonial-section换成了testimonial-section2，在public／CSS／style.css里面改的，1013行-->