<!-- projects 
	================================================== -->
<section class="projects-section">
	<div class="container">
		<div class="title-section">
			<h1>Our - Latest Projects</h1>
			<span>Best Works</span>
		</div>
	</div>				
</section>
<!-- End projects -->
<!-- testimonial-section 
================================================== -->
<section class="testimonial-section">
	<div class="container">

		<div class="testimonial-box">
			<ul class="bxslider">
				{{>asong}}
				{{>weatherWidget}}
				
			</ul>
		</div>

	</div>
</section>
<!-- End testimonial section -->
