<!-- testimonial-section 
================================================== -->
<section class="testimonial-section">
	<div class="container">

		<div class="testimonial-box">
			<ul class="bxslider">
				{{>asong}}
				{{>weatherWidget}}
				
			</ul>
		</div>

	</div>
</section>
<!-- End testimonial section -->
